
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffLogin</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <h1 class="SecondaryHead">Staff Login!</h1>
    <div class="Container">
        @using (Html.BeginForm("LogStaffIn", "Staff"))
        {
            <br />
            <br />
            <label>Enter User Name: </label>
            <input id="txtUserName" type="text" name="UserName" />
            <br />
            <br />
            <label>Enter Password: </label>
            <input id="txtPassword" type="password" name="Password" />
            <br />
            <a href="@Url.Action("ForgotPassword", "Staff")">Forgot Password?</a>
            <br />
            <input id="BtnLogin" type="submit" value="Login" name="Login" />
        }
        @using (Html.BeginForm("Index", "Staff"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" name="Cancel" />
        }
     </div>
</body>
</html>
