
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakeProvincialReport</title>
    <link rel="stylesheet" type="text/css" href="~/Content/INF272Project.css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voting Made Easy!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <h1 class="SecondaryHead">Here is a preview of the report!</h1>
    @using (Html.BeginForm("PrintReport", "Report"))
    {
        <table>
            <tr>
                <th>Election Date:</th>
                <th>Province:</th>
                <th>Party:</th>
                <th>Candidate:</th>
                <th>Total Votes:</th>
                <th>Vote Percentage:</th>
            </tr>
            <tr>
                <td>Election Date</td>
                <td>Province Name</td>
                <td>Parties</td>
                <td>Candidate Name</td>
                <td>Votes Per Party</td>
                <td>Vote Percentage Per Party</td>
            </tr>
        </table>
        <input id="BtnPrintReport" type="submit" value="Print Report" />
    }
    @using (Html.BeginForm("StaffHomePage", "Staff"))
    {
        <input id="BtnCancel" type="submit" value="Cancel" />
    }
</body>
</html>
