
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePasswordVoter</title>
</head>
<body>
    <h1>Change Password!</h1>
    <div> 
        <label>Security Question: </label>
        <input id="txtAnswer" type="text" name="Answer"/>
        <br />
        <label>New Password: </label>
        <input id="txtPassword" type="password" name="NewPassword" />
        <br />
        <label>Confirm New Password: </label>
        <input id="txtConfirmPassword" type="password" name="ConfirmNewPassword" />
        <br />
        <input id="BtnChangePassword" type="submit" value="Change Password" />
        <input id="BtnCancel" type="submit" value="Cancel" />
    </div>
</body>
</html>
