
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("doForgotPasswordUpdate", "Voter"))
        {
            <label>Security Question: </label>
            <input id="txtAnswer" type="text" name="Answer" />
            <br />
            <label>New Password: </label>
            <input id="txtPassword" type="password" name="NewPassword" />
            <br />
            <label>Confirm New Password: </label>
            <input id="txtConfirmPassword" type="password" name="ConfirmNewPassword" />
            <br />
            <input id="BtnChangePassword" type="submit" value="Change Password" />
        }
        @using (Html.BeginForm("VoterHomePage", "Voter"))
        {
            <input id="BtnCancel" type="submit" value="Cancel" />
        }
    </div>
</body>
</html>
