
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterVoter</title>
</head>
<body>
    <h1>Register Voter!</h1>
    <div>
        <label>ID Number: </label>
        <input id="txtVoterIDNumber" type="text" name="VoterIDNumber" />
        <br />
        <label>First Name: </label>
        <input id="txtFirstName" type="text" name="FirstName" />
        <br />
        <label>Last Name: </label>
        <input id="txtLastName" type="text" name="LastName" />
        <br />
        <label>Email Address: </label>
        <input id="txtEmail" type="text" name="Emailz" />
        <br />
        <label>Phone Number: </label>
        <input id="txtPhoneNumber" type="text" name="PhoneNumber" />
        <br />
        <label>Street Address: </label>
        <input id="txtAddress" type="text" name="Address" />
        <br />
        <label>Select Province: </label>
        <input id="txtDropdownList" type="text" name="Dropdownlist" value="This is a placeholder" />
        <br />
        <label>Select City/Town: </label>
        <input id="txtDropdownList" type="text" name="Dropdownlist" value="This is a placeholder" />
        <br />
        <label>Password: </label>
        <input id="txtPassword" type="password" name="Password" />
        <br />
        <label>Confirm Password: </label>
        <input id="txtConfrimPassword" type="password" name="ConfrimPassword" />
        <br />
        <label>Select Security Question: </label>
        <input id="txtDropdownList" type="text" name="Dropdownlist" value="This is a placeholder" />
        <br />
        <label>Security Question: </label>
        <input id="txtSecurityQuestionAnswer" type="text" name="SecurityAnswer"/>
        <br />
        <br />
        <input id="BtnRegister" type="submit" value="Register" />
        <input id="BtnCancel" type="submit" value="Cancel" />
    </div>
</body>
</html>
