
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateVoterInfo</title>
</head>
<body>
    <h1>Update Info!</h1>
    <div>
        <label>Address: </label>
        <input id="txtAddress" type="text" name="NewAddress" />
        <br />
        <label>Province: </label>
        <input id="txtProvince" type="text" name="Province" value="PlaceHolder" />
        <br />
        <label>City/Town: </label>
        <input id="txtProvince" type="text" name="Province" value="PlaceHolder" />
        <br />
        <label>Phone Number: </label>
        <input id="txtPhoneNumber" type="text" name="PhoneNumber"/>
        <br />
        <label>Email Address: </label>
        <input id="txtEmail" type="text" name="Email"/>
        <br />
        <input id="BtnUpdate" type="submit" value="Update" />
        <input id="BtnCancel" type="submit" value="Cancel" />
    </div>
</body>
</html>
