
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VoteParty</title>
    <link rel="stylesheet" href="~/Content/INF272Project.css" type="text/css" />
</head>
<body>
    <img id="Logo" src="~/kisscc0-voting-computer-icons-election-logo-button-vote-icon-5b72245f890da6.8607747415342070715614.png" alt="Logo" />
    <h1 class="PageHeading">Voter Home Page!</h1>
    <label class="Slogan">The simple and better way to vote</label>
    <h1 class="SecondaryHead">Vote for Party By Clicking The Vote Button!</h1>

    <table>
        <tr>
            <th>Party Name:</th>
            <th>Party Acronym:</th>
            <th>Party Candidate:</th>
            <th>Party Candidate Image:</th>
            <th>Party Logo:</th>
            <th>Vote:</th>
        </tr>
        <tr>
            <td>Party Name</td>
            <td>PN</td>
            <td>Candidate Name</td>
            <td>Candidate Image</td>
            <td>Party Logo</td>
            <td>
                @using (Html.BeginForm("doVoteParty", "Voter"))
                {
                    <input id="BtnVoteParty" type="submit" value="Vote" />
                }
            </td>
        </tr>
    </table>
</body>
</html>
