
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VoterHomePage</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Vote","Voter")">Vote</a>
        <a href="@Url.Action("UpdateVoterInfo", "Voter")">Update Personal Info</a>
        <a href="@Url.Action("ChangePasswordVoter", "Voter")">Change Password</a>
        <a href="@Url.Action("Logout","Voter")">Logout</a>
    </div>
    <h1>Voter Home Page!</h1>
    <div> 
    </div>
</body>
</html>
